<form ng-controller= 'newCtrl' name="newEventForm" ng-submit="newEventForm.$valid && submit(event)" novalidate>
        <table class='newEvent'>
            <tr>
                <th class='label'>
                    <label>Name</label>
                </th>
                <td class='data'>
                    <div class ="form-error alert alert-danger" ng-if="newEventForm.name.$error.required && newEventForm.$submitted" >You need to put in a title</div>
                    <input type ="text" placeholder="ex: Amy's Birthday" ng-model="event.name" name="name" ng-minlength="1" required />
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>Details</label>
                </th>
                <td class='data'>
                    <div>Details about your event (optional)</div>
                    <textarea type ="text" placehold="Add more info" ng-model="event.detail" name="detail"></textarea>
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>Where</label>
                </th>
                <td class='data'>
                    <div>
                        <div class ="form-error alert alert-danger" ng-if="newEventForm.locName.$error.required && newEventForm.$submitted" >You need to put in a location</div>   
                        <google-search location="location" google-name="googleName" address="address" ng-model="event.locName" required></google-search>
                        <button ng-click="doSearch()" class="btn btn-large btn-primary">Search</button>
                    </div>
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>When</label>
                </th>
                <td class='data'>
                    <div class ="form-error alert alert-danger" ng-if="newEventForm.date.$error.required && newEventForm.$submitted" >You need to put in a date</div>
                    <input type ="date" placeholder="Add a date?" ng-model="event.date" name="date" ng-minlength="1" required />
                    <input type ="time" placeholder="Add a time?" ng-model="event.time" name="time"/>
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>Privacy Level</label>
                </th>
                <td class='data'>
                    <input type ="radio" name='privacy' value='Open to Public' ng-model="event.privacy" ng-checked="true"> Open to Public
                    <br>
                    <input type ="radio" name='privacy' value='Host Approval Required' ng-model="event.privacy"> Host Approval Required
                    <br>
                    <input type ="radio" name='privacy' value='Friends Only' ng-model="event.privacy"> Friends Only
                    <br>
                    <input type ="radio" name='privacy' value='Invite Only' ng-model="event.privacy"> Invite Only
                    <br>
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>Image Link</label>
                </th>
                <td class='data'>
                    <input type ="text" placehold="Paste image url" ng-model="event.img" name="img"/>
                </td>
            </tr>
    </table>

    <div class ="form-group">
            <label>Add Image:</label>
            <!--<div class ="form-error alert alert-danger" ng-if="!upload.data&& newCampaignForm.$submitted">Please add an image</div>-->
            <div class="btn btn-primary" ngf-select ng-model="file" ngf-pattern="'image/*" accept="image/*">Choose</div>
            <div ng-if ="upload.data" class="uploadfile alert alert-success">{{upload.data}}</div>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
