<form name="newEventForm" ng-submit="newCampaignForm.$valid && submit(event)" novalidate>
    <!--<div class="form-error alert alert-danger" ng-if="newCampaignForm.$invalid && newCampaignForm.$submitted">Please fill out the fields!</div>-->
        <table class='newEvent'>
            <tr>
                <th class='label'>
                    <label>Name</label>
                </th>
                <td class='data'>
                    <div class ="form-error alert alert-danger" ng-if="newCampaignForm.title.$error.required && newCampaignForm.$submitted" >You need to put in a title</div>
                    <input type ="text" placeholder="ex: Bear Mountain Day Hikinng" ng-model="event.name" name="name" ng-minlength="1" required />
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>Details</label>
                </th>
                <td class='data'>
                    <div class ="form-error alert alert-danger" ng-if="newCampaignForm.title.$error.required && newCampaignForm.$submitted" >You need to put more info</div>
                    <input type ="text" placehold="Add more info" ng-model="event.detail" name="title" ng-minlength="1" required />
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>Where</label>
                </th>
                <td class='data'>
                    <input type ="text" placeholder="Add a place?" ng-model="event.loc" name="loc" ng-minlength="1" required />

                    <div ng-controller="locSearch">
                        <google-search location=location></google-search>
                        <button ng-click="doSearch()" class="btn btn-large btn-primary">Search</button>
                    </div>
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>When</label>
                </th>
                <td class='data'>
                    <input type ="text" placeholder="Add a date?" ng-model="event.date" name="date" ng-minlength="1" required />
                    <input type ="text" placeholder="Add a time?" ng-model="event.time" name="time" ng-minlength="1" required />
                </td>
            </tr>

            <tr>
                <th class='label'>
                    <label>Privacy Level</label>
                </th>
                <td class='data'>
                    <input type ="radio" name='privacy' value='Open to Public' checked>Open to Public
                    <br>
                    <input type ="radio" name='privacy' value='Host Approval Required' checked>Host Approval Required
                    <br>
                    <input type ="radio" name='privacy' value='Friends Only' checked>Friends Only
                    <br>
                    <input type ="radio" name='privacy' value='Invite Only' checked>Invite Only
                    <br>
                </td>
            </tr>
    </table>

    <div class ="form-group">
            <label>Add Image:</label>
            <!--<div class ="form-error alert alert-danger" ng-if="!upload.data&& newCampaignForm.$submitted">Please add an image</div>-->
            <div class="btn btn-primary" ngf-select ng-model="file" ngf-pattern="'image/*" accept="image/*">Choose</div>
            <div ng-if ="upload.data" class="uploadfile alert alert-success">{{upload.data}}</div>
    </div>
    <button class="btn btn-success" ng-disabled="loading" type="submit">Submit</button>
</form>
